<!DOCTYPE html>
<html class="drizzle-Layout">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="../../static/favicon.ico">
        <title>Button - Mozilla Design System</title>
<!--        -->
    <link rel="stylesheet" href="../../assets/drizzle/styles/drizzle.css">
    <link rel="stylesheet" href="../../assets/drizzle/styles/prism.css">
    <link rel="stylesheet" href="../../assets/css/pebbles/global.css">
    <link rel="stylesheet" href="../../assets/css/system/system-site.css">
  </head>
  <body class="drizzle-Layout-body">
    
    <nav class="mds-nav" id="nav">
      <header class="mds-nav-head">
        <a href="https://www.mozilla.org">
          <img class="mds-nav-mozlogo" src="../../static/img/mozilla-wordmark-white.svg" width="100" alt="Mozilla">
        </a>
        <a class="drizzle-Nav-header-toggle" href="#nav">
          <svg viewBox="-1 -1 12 7" width="16" height="16">
            <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
          </svg>
        </a>
      </header>
    
      <div class="mds-nav-menu" id="nav-menu">
        <ul>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../index.html">
                  Mozilla Design System
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../principles.html">
                  Design Principles
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../typography.html">
                  Typography
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../colors.html">
                  Color
                </a>
            </li>
        </ul>
    
        <h5>Elements</h5>
        <ul>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../patterns/elements/typographic.html">
                  Text
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../patterns/elements/forms.html">
                  Forms
                </a>
            </li>
        </ul>
    
        <h5>Components</h5>
        <ul>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../patterns/components/button.html">
                  Button
                </a>
            </li>
        </ul>
    
        <h5>Other Stuff</h5>
        <ul>
          <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../docs/index.html">
                  Documentation
                </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="mds-main">
    <h1>Button</h1>
    
      <section class="drizzle-Item">
  <header class="mds-item-head">
<h2 id="basic-button" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#basic-button" class="drizzle-u-linkHidden">      Basic Button
</a>
</h2>
  </header>
    <div class="drizzle-Item-notes">
      <p>This is a basic button with no additional modifiers.</p>

    </div>

  <div class="mds-specimen">
    <div class="mds-specimen-preview ">
      

<button type="button" class="button">
  Basic Button
</button>

<a href="#" class="button">
  Basic Button
</a>

    </div>
      <div class="mds-specimen-code">
        <pre><code class="language-markup">&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button&quot;&gt;
  Basic Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button&quot;&gt;
  Basic Button
&lt;/a&gt;</code></pre>
      </div>
  </div>
</section>
      <section class="drizzle-Item">
  <header class="mds-item-head">
<h2 id="dark-button" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#dark-button" class="drizzle-u-linkHidden">      Dark Button
</a>
</h2>
  <ul class="
    drizzle-u-inlineBlock
    drizzle-u-alignMiddle
    drizzle-u-listUnstyled">
      <li class="drizzle-Label drizzle-Label--inprogress">
        inprogress
      </li>
  </ul>
  </header>
    <div class="drizzle-Item-notes">
      <p>This is like the basic button, but darker.</p>

    </div>

  <div class="mds-specimen">
    <div class="mds-specimen-preview ">
      

<button type="button" class="button button-dark">
  Dark Button
</button>

<a href="#" class="button button-dark">
  Dark Button
</a>

    </div>
      <div class="mds-specimen-code">
        <pre><code class="language-markup">&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button button-dark&quot;&gt;
  Dark Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button button-dark&quot;&gt;
  Dark Button
&lt;/a&gt;</code></pre>
      </div>
  </div>
</section>
      <section class="drizzle-Item">
  <header class="mds-item-head">
<h2 id="green-button" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#green-button" class="drizzle-u-linkHidden">      Green Button
</a>
</h2>
  </header>
    <div class="drizzle-Item-notes">
      <p>This is a green button. This should only ever be used for a Firefox download button.</p>

    </div>

  <div class="mds-specimen">
    <div class="mds-specimen-preview ">
      

<button type="button" class="button button-green">
  Green Button
</button>

<a href="#" class="button button-green">
  Green Button
</a>

    </div>
      <div class="mds-specimen-code">
        <pre><code class="language-markup">&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button button-green&quot;&gt;
  Green Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button button-green&quot;&gt;
  Green Button
&lt;/a&gt;</code></pre>
      </div>
  </div>
</section>
      <section class="drizzle-Item">
  <header class="mds-item-head">
<h2 id="hollow-buttons" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#hollow-buttons" class="drizzle-u-linkHidden">      Hollow Buttons
</a>
</h2>
  </header>
    <div class="drizzle-Item-notes">
      <p>Some buttons are hollow, with a border and transparent background.</p>

    </div>

  <div class="mds-specimen">
    <div class="mds-specimen-preview ">
      

<button type="button" class="button button-hollow">
  Hollow Button
</button>

<a href="#" class="button button-hollow">
  Hollow Button
</a>


<button type="button" class="button button-hollow button-red">
  Hollow Red Button
</button>

<a href="#" class="button button-hollow button-red">
  Hollow Red Button
</a>


<button type="button" class="button button-hollow button-dark">
  Hollow Dark Button
</button>

<a href="#" class="button button-hollow button-dark">
  Hollow Dark Button
</a>

    </div>
      <div class="mds-specimen-code">
        <pre><code class="language-markup">&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button button-hollow&quot;&gt;
  Hollow Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button button-hollow&quot;&gt;
  Hollow Button
&lt;/a&gt;

&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button button-hollow button-red&quot;&gt;
  Hollow Red Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button button-hollow button-red&quot;&gt;
  Hollow Red Button
&lt;/a&gt;

&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button button-hollow button-dark&quot;&gt;
  Hollow Dark Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button button-hollow button-dark&quot;&gt;
  Hollow Dark Button
&lt;/a&gt;</code></pre>
      </div>
  </div>
</section>
      <section class="drizzle-Item">
  <header class="mds-item-head">
<h2 id="orange-button" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#orange-button" class="drizzle-u-linkHidden">      Orange Button
</a>
</h2>
  <ul class="
    drizzle-u-inlineBlock
    drizzle-u-alignMiddle
    drizzle-u-listUnstyled">
      <li class="drizzle-Label drizzle-Label--inprogress">
        inprogress
      </li>
  </ul>
  </header>
    <div class="drizzle-Item-notes">
      <p>This is an orange button. I&#39;m not sure if we ever use this, but we have a style defined for it.</p>

    </div>

  <div class="mds-specimen">
    <div class="mds-specimen-preview ">
      

<button type="button" class="button button-orange">
  Orange Button
</button>

<a href="#" class="button button-orange">
  Orange Button
</a>

    </div>
      <div class="mds-specimen-code">
        <pre><code class="language-markup">&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button button-orange&quot;&gt;
  Orange Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button button-orange&quot;&gt;
  Orange Button
&lt;/a&gt;</code></pre>
      </div>
  </div>
</section>
      <section class="drizzle-Item">
  <header class="mds-item-head">
<h2 id="red-button" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#red-button" class="drizzle-u-linkHidden">      Red Button
</a>
</h2>
  <ul class="
    drizzle-u-inlineBlock
    drizzle-u-alignMiddle
    drizzle-u-listUnstyled">
      <li class="drizzle-Label drizzle-Label--inprogress">
        inprogress
      </li>
  </ul>
  </header>
    <div class="drizzle-Item-notes">
      <p>This is a red button. I&#39;m not sure if we ever use this, but we have a style defined for it.</p>

    </div>

  <div class="mds-specimen">
    <div class="mds-specimen-preview ">
      

<button type="button" class="button button-red">
  Red Button
</button>

<a href="#" class="button button-red">
  Red Button
</a>

    </div>
      <div class="mds-specimen-code">
        <pre><code class="language-markup">&lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;button button-red&quot;&gt;
  Red Button
&lt;/button&gt;

&lt;a href&#x3D;&quot;#&quot; class&#x3D;&quot;button button-red&quot;&gt;
  Red Button
&lt;/a&gt;</code></pre>
      </div>
  </div>
</section>
    </div>

        <script src="../../assets/drizzle/scripts/drizzle.js"></script>

  </body>
</html>
