<!DOCTYPE html>
<html class="drizzle-Layout">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Grid - Drizzle</title>
    <link rel="stylesheet" href="../../assets/drizzle/styles/drizzle.css">
    <link rel="stylesheet" href="../../assets/css/pebbles/global.css">
    <link rel="stylesheet" href="../../assets/css/system/system-site.css">
  </head>
  <body class="drizzle-Layout-body">
    
    <nav class="mds-nav" id="nav">
      <header class="mds-nav-head">
        <a href="https://www.mozilla.org">
          <img class="mds-nav-mozlogo" src="../../static/img/mozilla-wordmark-white.svg" width="100" alt="Mozilla">
        </a>
        <a class="drizzle-Nav-header-toggle" href="#nav">
          <svg viewBox="-1 -1 12 7" width="16" height="16">
            <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
          </svg>
        </a>
      </header>
    
      <div class="mds-nav-menu" id="nav-menu">
        <ul>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../index.html">
                  Mozilla Design System
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../principles.html">
                  Design Principles
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../colors.html">
                  Brand Colors
                </a>
            </li>
        </ul>
    
        <h5>Elements</h5>
        <ul>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../patterns/elements/typographic.html">
                  Type
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../patterns/elements/forms.html">
                  Forms
                </a>
            </li>
        </ul>
    
        <h5>Components</h5>
        <ul>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../patterns/components/grid.html">
                  Grid
                </a>
            </li>
            <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../patterns/components/button.html">
                  Button
                </a>
            </li>
        </ul>
    
        <h5>Other Stuff</h5>
        <ul>
          <li class="mds-nav-item">
                <a class="mds-nav-link" href="../../docs/index.html">
                  Documentation
                </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="mds-main">
    <h1>Grid</h1>
      <div class="drizzle-Item drizzle-u-rhythm">
  <div class="drizzle-u-marginEnds">
<h2 id="default" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#default" class="drizzle-u-linkHidden">      Default
</a>
</h2>
  </div>
  <div class="drizzle-u-border">
    <div class="drizzle-u-pad drizzle-u-cf drizzle-u-posRelative ">
      <div class="Grid">
  <div class="Grid-cell u-sizeFill">A</div>
  <div class="Grid-cell u-sizeFill">B</div>
</div>

    </div>
      <pre class="drizzle-u-borderTop drizzle-u-pad"><code class="language-markup">&lt;div class&#x3D;&quot;Grid&quot;&gt;
  &lt;div class&#x3D;&quot;Grid-cell u-sizeFill&quot;&gt;A&lt;/div&gt;
  &lt;div class&#x3D;&quot;Grid-cell u-sizeFill&quot;&gt;B&lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>
</div>
      <div class="drizzle-Item drizzle-u-rhythm">
  <div class="drizzle-u-marginEnds">
<h2 id="responsive" class="
  drizzle-u-inlineBlock
  drizzle-u-alignMiddle
  drizzle-u-padRight">
    <a href="#responsive" class="drizzle-u-linkHidden">      Responsive
</a>
</h2>
  </div>
  <div class="drizzle-u-border">
    <div class="drizzle-u-pad drizzle-u-cf drizzle-u-posRelative ">
      <div class="Grid">
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">A</div>
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">B</div>
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">C</div>
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">D</div>
</div>

    </div>
      <pre class="drizzle-u-borderTop drizzle-u-pad"><code class="language-markup">&lt;div class&#x3D;&quot;Grid&quot;&gt;
  &lt;div class&#x3D;&quot;Grid-cell u-md-size1of2 u-lg-size1of4&quot;&gt;A&lt;/div&gt;
  &lt;div class&#x3D;&quot;Grid-cell u-md-size1of2 u-lg-size1of4&quot;&gt;B&lt;/div&gt;
  &lt;div class&#x3D;&quot;Grid-cell u-md-size1of2 u-lg-size1of4&quot;&gt;C&lt;/div&gt;
  &lt;div class&#x3D;&quot;Grid-cell u-md-size1of2 u-lg-size1of4&quot;&gt;D&lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>
</div>
    </div>
    <script src="../../assets/drizzle/scripts/drizzle.js"></script>
  </body>
</html>
